doctype html
html
  head
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    block scripts
  body
    block header
      header
        h1 PoopHaikus
        hr
    block content
    block footer
      footer
        p &copy; 2010-2014 PoopHaikus
    script(type='text/javascript', src='/app.min.js')